<div class="container">
  <div class="form-group row">
    <div class="col">
      <button routerLink="/product-detail" routerLinkActive="active" class="btn btn-primary">Add Product</button>
    </div>
  </div>
  <!-- /.form-group -->
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Availability</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products | async">
          <td>{{ product.data.name }}</td>
          <td>{{ product.data.category }}</td>
          <td>{{ product.data.availability }}</td>
          <td><button class="btn btn-outline-danger btn-block" (click)="openConfirmationDialog(product.id)">Delete</button></td>
          <td><button class="btn btn-outline-warning btn-block">Edit</button></td>
        </tr>
      </tbody>
    </table>
    <!-- /.table -->
  </div>
  <!-- /.table-responsive -->
</div>
  <!-- /.container -->
