<div class="container mt-3">
  <div class="form-group row">
    <div class="col">
      <button routerLink="/product-detail" routerLinkActive="active" class="btn btn-primary">Add Product</button>
    </div>
  </div>
  <!-- /.form-group -->
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Category</th>
          <th>Availability</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; let i = index" [attr.data-index]="i">
          <td>{{i + 1}}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.availability }}</td>
          <td><button class="btn btn-outline-danger btn-block" (click)="openConfirmationDialog(product)">Delete</button></td>
          <td><button class="btn btn-outline-warning btn-block" [routerLink]="['/product-detail', product.id]">Edit</button></td>
        </tr>
      </tbody>
    </table>
    <!-- /.table -->
  </div>
  <!-- /.table-responsive -->
</div>
<!-- /.container -->
